<div class="bs-component">
  <div>
    <div class="col-lg-4">
      {% if 'username' in session %}
      <div class="list-group table-of-contents">
        <a class="list-group-item" href="/character/mine"> Your Characters </a>
        <a class="list-group-item" href="/playercharacters"> All Characters </a>
        <a class="list-group-item" href="/character/new"> Make a New Character </a>
      </div>

      <p>Welcome, {{session['username']}}!</p>

      {% include './users/login/logout_button.html' %}

      {% else %}
      <form action="login" method="post" class="form-horizontal">
        <div class="form-group">
          <label for="uname" class="col-lg-2 control-label">Username</label>
          <div class="col-lg-10">
            <input class="form-control" id="uname" placeholder="Username" autocomplete="off" type="text" name="uname" />
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input class="form-control" id="inputPassword" placeholder="Password"  autocomplete="off" type="password" name="password" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>

        <input type="hidden" name="X-CSRF" value="{{session['X-CSRF']}}" />
      </form>

      {% endif %}
    </div>
  </div>
</div>