{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Missions</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block content %}
		<div class="container">
			<div class="page-header">
				<h1> Missions </h1>
			</div>
			<div class="col-lg-2">
				<div class="list-group table-of-contents">
					{% for mission in missions %}
						<a class="list-group-item active" href="#{{type}}"><strong>{{ mission.name }}</strong></a>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-6">
			<p>The finished missions are listed here.</p>
			{% for mission in missions %}
				<h2 id="{{ mission.name }}"> {{ mission.name }} </h2>
				<p><strong>Level: {{ mission.level }} </strong></p>
				<p> {{ mission.description }} </p>

			{% endfor %}
			</div>
		</div>
	{% endblock %}
