{%extends "layout.html"%}

{%block title%}{{ elements[0]['content'] }}{% endblock %}

{% block content %}
<div class="container">
  <div class="">
    <div class="subnavbar">
      <ul>
      {% for element in elements %}
        {% if ( element['type'] == 'h1'
          or element['type'] == 'h2'
          or element['type'] == 'h3' ) %}

        <li class="px-1"><a class="text-primary" href="#{{ element['id'] }}">{{ element['content']|truncate(15, True) }}</a></li>

        {% endif %}
      {% endfor %}
      </ul>
    </div>

    <div class="flex-fill"> <!-- main column -->
      <div>
      {% for element in elements %}
        {% if element['type'] == 'ul' or element['type'] == 'ol' %}
        <{{ element['type'] }}>
          {% for lineitem in element['content'] %}
            <li> {{lineitem}} </li>
          {% endfor %}
        </{{ element['type'] }}>

        {% elif element['type'] == 'dl' %}
        <div class="card border-primary">
          <div class="card-body">
            <dl>
            {% for deff in element['content'] %}
              <dt><strong class="text-primary">{{ deff[0] }}</strong></dt>
              <dd>{{ deff[1] }}</dd>
            {% endfor %}
            </dl>
          </div>
        </div>

        {% elif element['type'] == 'error' %}
        <p class="text-danger"> {{element['content']}} </p>

        {% elif element['type'] == 'h1' %}
          {% if element['id'] != 0 %}
        <p> <small class="text-primary"><a href="#top">back to top</a></small> </p>
      </div> <!-- put card body ending  -->
    </div> <!-- put card end first to handle fencepost error -->
          {% endif %}

        <h1 id="{{element['id']}}" class="text-primary">
          {{element['content']}}
        </h1>

        <div class="card border-primary"> <!-- card start after card end to handle fencepost error -->
          <div class="card-body">

        {% elif element['type'] == 'h2' %}
        <div class="card-header">
          <h2 class="text-info card-title" id="{{ element['id'] }}"> {{element['content']}} </h2>
        </div>

        {% elif element['type'] == 'h3' %}
        <h3 id="{{element['id']}}" class="text-primary card-title">
          {{element['content']}}
        </h3>

        {% elif element['type'] == 'p' %}
        <p class="card-text"> {{element['content']}} </p>

        {% elif element['type'] == 'footnote'%}
        <div class="card text-white bg-secondary">
          <div class="card-body">
             <p class="card-text"> {{ element['content'] }} </p>
          </div>
        </div>

        {% elif element['type'] == 'table' %}
        <table class="table table-hover">
          <tbody>
          {% for row in element['content'] %}
          <tr>
            {% for data in row %}
              <td> {{ data }} </td>
            {% endfor %}
          </tr>
          {% endfor %} <!-- end row -->
          </tbody>
        </table>

        {% else %}
        <{{element['type']}}>
          {{element['content']}}
        </{{element['type']}}>
        {% endif %}
      {% endfor %} <!-- end for each element -->
      </div> <!-- end content row -->
    </div> <!-- end main column -->

    <div class="row">
      <p class="text-muted"><small> This Page Constructed using the CXDocs Parser. </small></p>
    </div>

  </div>
  </div>
</div>
{% endblock %}
