{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Files</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Game Files </h1>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-primary" >
						<div class="panel-heading">
							<h3 class="panel-title"> CX Character Sheet PDF </h3>
						</div>
						<div class="panel-body">
								<p>This .pdf file was made by Sarah Slater to help making 
									characters easier! Having all of this information at your 
									fingertips should also help turns go faster. This specific 
									file is meant to be edited on your computer. </p>
							<p> To download, click the filename. That should trigger a
								download box. Which will let you open the file or save it.</p>
							<p><a href="static/files/CX_Character_Sheet_Editable.pdf" target="_blank"> CX_Character_Sheet_Editable.pdf  </a></p>
						</div>
					</div>
					
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title"> CX Character Sheet PDF- Printable </h3>
						</div>
						<div class="panel-body">
								<p>This .pdf file was made by Sarah Slater to help making 
									characters easier! Having all of this information at your 
									fingertips should also help turns go faster. This specific 
									file is meant to be easy to print and write on. </p>
							<p> To download, click the filename. That should trigger a
								download box. Which will let you open the file or save it.</p>
							<p><a href="static/files/CX_CharacterSheet_PRINT-VERSION.pdf" target="_blank"> CX_CharacterSheet_PRINT-VERSION.pdf  </a></p>
						</div>
					</div>
					
			</div>
		</div>
	{% endblock %}
	
