{%extends "layout.html"%}
    {%block head%}
		<link rel="icon" href="X.png" type="image/gif" sizes="16x15">
		<title> CX Game Records</title>
		<link rel="stylesheet" type="text/css" href="Docs.css">
	{%endblock%}
    {% block content %}
	<div class="container">
		<a id="Top"></a>
		<fieldset>
		<legend> Table of Contents </legend>
		<ul>
			<li> <a href="#Session3"> Session 3 </a> </li>
			<li> <a href="#Session4"> Session 4 </a> </li>
            <li> <a href="#Session6"> Session 6 </a> </li>
		</ul>
		</fieldset>
		<h1 id="Season1"> Season 1 </h1>
		<h2> <a id="Session3"> Session 3 </a> </h2>
		<p> 3/11/17 </p>
		<ul>
			<li> Andy - Pirates</li>
			<li> James - Cap'n Sky</li>
			<li> Kevin - Bob Smith</li>
			<li> Natalie - Pidgeon</li>
			<li> Nate - Geoff</li>
			<li> Rose - Quinoa</li>
		</ul>
		<br>

			<p> The party has reached Farwitch Point, the port on Tullus, in pursuit of Braxton the Bully.
			<p> Upon arrival in Farwitch point, the party exits the ship (some more gracefully than others) and Pidgeon heads straight for the trees while Bob, Geoff and Quinoa head for the Black Horse Inn.</p>
			<p>  Sky stays with the ship to sleep. After an uneventful night, G, Q, and B have breakfast.</p>
			<fieldset>
			<blockquote>
			<p> "There's always space cantaloupe." </p>
			<small> [At continental breakfast] - Quinoa </small>
			</blockquote>
			</fieldset>
			<p> Pidgeon has some poisonous berries.</p>
			<p> Cap’t Sky starts to go find breakfast, but is distracted by the IMS Cavalier, a destroyer that happens to be for sale.</p>
			<p>  G, Q, + B go to the police station to ask after Braxton; the local authorities have never heard of him.</p>
			<p> Pidgeon, Sky and the pirate Prisoner that they captured in the raid on their way to the planet, have a standoff; Sky wins and no one is injured.</p>
			<p> Bob uses his remote-control airplane to lure a cat out of a tree.</p>
			<p> Geoff takes the pirate prisoner to the police and is paid the bounty. The rest of the crew meets him on the way back They shop for supplies. Q + P + G go towards the hospital; S goes to the ship; B goes towards the timber mill.</p>
			<p> Q + P + G enter hospital. Upon entrance Q is confronted by a nurse who became overjoyed once Q revealed she was a doctor. The Head nurse puts her to work on a guy who swallowed a drill bit. Geoff is asked if he is family.</p>
			<p> S speaks to dock guards and learns there was an influx of travelers recently. Afterwards, speaking with the captain of IMS Cavalier, getting the price of the ship (8000 credits).</p>
			<p> Q sets an arm, intubates a cow, and cures cancer!</p>
			<p> G meets with S.</p>
			<p> B gains employment at a logging camp without learning of their target.</p>
			<p> Team meets up (without Q) and heads to the casino. They meet a small crew in an alley, and attempted to intimidate the crew into cooperation (which they failed at) and retreated before any fighting could break out. Stealthing back to the alley, G hears the crew’s relief at avoiding a fight and that the crew considered themselves as the big shots in the town.</p>
			<p> S shows port Security a picture of Braxton. Security remembered him coming in a few days prior, maybe going by the name Jordan. He learns that Trish, from the inn, is much better at recalling faces.</p>
			<p> Trish recognizes the wanted poster and informs S Braxton has been seen with a blond man at the Tavern in the last few days.</p>
			<p> Q finishes at the hospital and heads back to the Inn for a shower.</p>
			<p> Team purchases food at the tavern, each enamored by the real meat being served. Eventually Q finishes and joins them.</p>
			<p> Q goes to the casino, followed by B, P, and G.</p>
			<p> S approached his ship, then does a walk around of the destroyer.</p>
			<p> Q sits in for a game of poker where Archer is playing as well. After folding, she grabs a drink with the man.</p>
			<p> B convinces a patron to get off the slot machine, much to the anger of an old woman.</p>
			<p> P found 3 casings and blood in the alley.</p>
			<p> S determines that the ship hasn’t been flown in at least 3 months.</p>
			<p> G meets with B to find the evidence in the alley where Bob finds tracks.</p>
			<p> Q finds out that Braxton stole from Archer, who was willing to help. Archer tells her where they are likely hiding. To which Q swears by “Space Jesus!” G searches alleys and falls over a cat.</p>
			<p> B + P follow after him and follow after the tracks of a person running toward the lumber yard.</p>
			<p> G leans of several new items. Hugely about the attack on Fair Rig Helion, Pirates attacked a Varno farming town, and a massive Rigistruct ship entered the center a few weeks ago.</p>
			<p> The tracks led to a brothel and everyone meets up before entering the facility.</p>
			<p> In the brothel, the party shows Braxton’s picture to the Madame, who recognizes him.</p>
			<p> The bouncer takes party upstairs to the room and gets the door open by bringing champagne.</p>
			<p> As the bouncer leaves, S, G + P burst into the room, weapons drawn.</p>
			<p> P grapples one enemy as S trains on a second.</p>
			<p> Geoff aims at Braxton and shoots, hitting him once.</p>
			<p> Enemy K aims SMG, S hits him twice. He then takes 4 hits from K and goes down.</p>
			<p> P takes a headbutt from Enemy S and proceeds to toss S across the bed to K’s feet.</p>
			<p> Q enters, defibs S, and sends an attack @ Braxton, who panics.</p>
			<p> G kneecaps Braxton, who falls. B shoots K, who drops.</p>
			<p> Q zipties Braxton and defibs him.</p>
			<p> G picks up Braxton’s pistol.</p>
			<p> K, Snitch and Braxton are escorted to the police station.</p>
			<p> Q compensates the Madame for her assistance and inconvenience.</p>
			<p> At the station, the officer on duty checks in Braxton and Snitch and takes statements re: Skunk. After a compelling and truthful statement by S, the officer even waives part of the dept. transfer fees and pays the party $14,000 for bounties of Braxton and Snitch.</p>
			<p>  The next morning, with everyone well-rested, S and B go to tour the IMS Cavalier while others take breakfast and enjoy some excellent coffee.</p>
			<p> S purchases the Cavalier for $8000.</p> <br>
			<a href="#Top"> Go back to top </a><br>

		<h2> <a id="Session4"> Session 4 </a> </h2>
		<p> 3/25/17 </p>
		<ul>
			<li> GM - Michael Hedges </li>
			<li> Scribe - Stefan Titus </li><br>
			<li> James Talbot as Captain Sky, the Pilot </li>
			<li> Kevin Fuchs as Bob Smith, the Soldier </li>
			<li> Natalie Fuchs as Pidgeon, the Specialist </li>
			<li> Nathan Young as Geoff, the Gunslinger </li>
			<li> Rose Brallier as Quinoa, the Harmicist </li>
			<li> Stephen Little as Father Kensington, the False Prophet </li>
			<li> Taylor Rowland as Kitsune, the Bounty Hunter </li>
		</ul>
		<br>

			<p> Rooms on the new ship were assigned.</p>
			<p> Kitsune proposes capturing a Star Rig.</p>
			<p> "Are there any Kangaroos on Tellus?"</p>
			<p> Group goes into town looking for more info on one of the bounties to try to beef up a bit more before taking a run at the Star Rig.</p>
			<p> There are two ferries to the kangaroo farming villiages nearby.</p>
			<p> Kitsune asks the police cheif to radio to the villiages to ask if they have seen the Kangaroo rangler (on which there is a bounty) or if there is some kangaroo wrangling going on. Happily, there is none going on.</p>
			<p> Geoff sells the pistols he collected for 100 credits.</p>
			<p> Pidgeon buys a buck knife for 100 credits.</p>
			<p> In the meantime, Father kensington finds the fuel clerk who offers 5 fuel for 1 crate of gold.</p>
			<p> Father Kensington rolls a natural 20 and convinces the man to accidentally chip them 7 fuel for the crate instead.</p>
			<p> The crew put a total of 3 in the shuttle and 4 in their new Destroyer, Cavallier.</p>
			<p> With Captain Sky piloting the Cavallier and Kitsune piloting the shuttle Nightwing, the crew take off from the planet and vector toward the scavenge site of their former battle.</p>
			<p> Along the way, the party has a chance encounter with a pair of patrol boats containing bounty hunters who accuse them of ferrying a convict.</p>
			<p> The bounty hunters tell them to heave to and prepare to be boarded.</p>
			<p> Despite being chastised for stopping the wrong ship, the bounty hunters board.</p>
			<p> Lo and behold, their bounty was not aboard.</p>
			<p> But seeing an opportunity, Kensington suggests that the bounty hunters team up with them and help claim the Solar Rig.</p>
			<p> The Bounty hunters retire to consider the offer.</p>
			<p> While the Bounty Hunters deliberate, the team scavenges the extra grappling turret.</p>
			<p> They attempt to scavenge the extra powerplant from the wreck, but without any tools or an engineer, the powerplant broke.</p>
			<p> With the scavenging done, the Bounty Hunters board again and a war council is held.</p>
			<p> It is decided that both forces will team up and attempt to take Carona rig, with the mercenaries taking a 60% cut of the take.</p>
			<p> The war party sets sail for Agora Station to top off their equipment before embarking on the assault.</p>
			<p> Along the way, they are met by Granger security as a random encounter.</p>
			<p> The security team happily escorts the crew to Lord Granger himself.</p>
			<p> Lord Granger agrees to give the crew the tactical specs of the station, as well as a bonus of 1000 credits each in company credit to stock up.</p>
			<p> He also agrees to send escort forces to their target, but regrets that due to insurance and Safe Working laws, he cannot commit his own troops to the battle at this time.</p>
			<p> The crew stops by the quartermaster's on the way back to the ships to gear up.</p>
			<p> Bob Smith buys an impressive array of grenades.</p>
			<p> Captain Sky procures 2 photon grenades and a homing photon torpedo from the crew chief. He also purchases Salvaging, hacking, and digging/fortifying tools.</p>
			<p> Pidgeon is able to find a makeshift space suit for her chicken.</p>
			<p> Geoff finds a ship gunnery monocle that gives him a +15 to getting target lock, but a -15 to perception rolls. </p>
			<p> With a grand liftoff, the fleet jumps to Carona Rig. </p>
			<p> The two mercenary patrol boats accompany the Cavallier and the Nightwing to engage two assault shuttles crewed by pirates.</p>
			<p> There is a thrilling battle, which we have great records for. I'll finish uploading them later.</p>
			<p> With the enemy shuttles destroyed and the turrets lampooned, the Nightwing and the PT ship with the mercenary assault crew fly quickly into the hanger and deployed their troops.</p>
			<p> A violent firefight breaks out among the crates and ships.</p>
			<p> Bob displays his incredible reflexes with an initiative of around 120.</p>
			<p> He exits the ship and rolls left, gunning down a pirate with a critical headshot.</p>
			<p> Kensington follows, using his desecrate ground spell to fortify his position.</p>
			<p> The mercenary's ship lands, firing its forward gun and dropping fire team 1, who move to flank right.</p>
			<p> The pirates engage the mercenaries, killing one of their opperators in the middle of the bay.</p>
			<p> They toss molotovs to create a barrier to advancement.</p>
			<p> One pirate script kiddie attempts to advance over the balcony railing, but rolls a 1, and faceplants.</p>
			<p> One of the Pirate rifleman fires on the mercenaries, misses and jams his weapon.</p>
			<p> Quinoa disembarks the Nightwing and runs out into the crossfire. She fires a nanite spike at the pirate that downed the operator, critically hitting him in the eye and affecting him with mild halucinogens. </p>
			<p> Pidgeon disembarks and rolls right providing Quinoa with some cover fire. She succeeds in splattering a pirate with her autocannon.</p>
			<p> "Kensington did something"</p>
			<p> The mercenaries continue to spray and pray, missing terribly, but suppressing. The grunt from team 1 advances and smirks at the pirate with halucinogens bludgeoning his teamate withe the butt of his shotgun. The Merc Grunt shoots both tangos.</p>
			<p> Geoff aboard the Cavolier scanns for hostiles. For the moment, they own the black in the sector.</p>
			<p> Quinoa and revives the mortally wounded mercenary opperator, but is hit in the process. She is not down and is able to heal herself next round.</p>
			<p> Kensington is also hit.</p>
			<p> Pidgeon continues unloading explosions upon the pirates.</p>
			<p> Bob moves up, firing as he goes.</p>
			<p> Kensington follows bob, letting loose with 4 unholy bolts pulverizing a pirate to pieces.</p>
			<p> The mercenaries continue to flank opening fire on the script kidde, who is then blown to bits by Pidgeon.</p>
			<p> The Cavallier Ion blankets the next corridor. </p>
			<p> Pirates begin to retreat.</p>
			<p> The docking bay is cleared, and for the moment the beachhead is established.</p>
			<p> Teams 1 and 3 stack up to continue the assault, while team 2 digs in to hold their exit.</p> <br>

			<a href="#Top"> Go back to top </a>

            <h1 id="Season 2"> Season 2 </h1>
            <h2 id="Session5"> Session 5 </h2>
            <p> The official logs of Session 5 are currently missing. This is a
                couple of notes from Michael's recollection.
            </p>
            <p> After their victory at Phoenix Rig, the heroes returned to
                Silkroad Station. There they did some shopping, some dining and
                took a look around for their next adventure.
            </p>
            <p> Captain Sky went to the bounty board, where he received a
                summons from Lord Granger. The owner of the station had a follow
                up request on his other trade station, Agora Station on the
                other end of the sector. A fatal plague had broken out, and
                Granger was required to declare quarantine. But the station's
                governor was none other than Granger's son. The team had thusly
                embarked on a mission to Agora Station.
            </p>
            <p> Along the journey to Agora Station, the team aboard the
                Cavalier met with a particularly zealous group of cultists.
                The session ended with the cultists boarding the Cavalier with
                our heroes ready to repel boarders.
            </p>

            <h2 id="Session6"> Session 6 </h2>
            <p> 2/3/2018 </p>
            <ul>
                <li> Michael Hedges as the GM </li>
                <li> Stephen as Father Kensington</li>
                <li> James as Cap'n Sky</li>
                <li> Kevin as Bob Smith</li>
                <li> Rose as Quinoa</li>
                <li> Sarah as Bria</li>
                <li> Nathan as Geoff</li>
            </ul>
            <p> Special thanks to Nathan for being the session's scribe! </p>
            <p>The gang meets twenty cultists.  </p>
            <p> Bria takes some hits from the cultists and is downed. She is
                almost immediately picked up by Quinoa.
            </p>
            <p>
                Geoff, at the ship's tactical controls fires the Cavalier's ion
                cannons and completely disables one of the cultist boarding
                craft and damages their airlocks, causing that ship to vent
                atmosphere and begin careening.
            </p>
            <p>
                Bria draws her shotgun and flattens a cultist with some
                well-placed buckshot.
            </p>
            <p>
                Kensington gets angry and attempts to convert the cultist
                masses. They respond "Death for Lilithulalia!" Unable to
                convince his adversary of the merits of joining the way of
                Kenism, Kensington smites the one who yelled in dissent. He uses
                his Infernal Lightning to taze and knock prone almost all of the
                cultists who had invaded the cargo bay. Overall, a bad day for
                them.
            </p>
            <p>
                Bob Smith, true to form, lays out 3 cultists in burst fire. All
                of them die.
            </p>
            <p>
                The cultists try to fight back, but not much happens; most are
                both prone and tazed and so have very limited actions. Several
                launch spells from the ground, but Kensington's cover holds well.
            </p>
            <p>
                Quinoa hits a cultist with a needle and a cloud of depression
                gas bursts out. Most of the cultists are affected. Another
                cultist hits Bob, who aint got time for that and kills him in
                retaliation with a held action. Bob then fires at four cultists
                hitting all and killing 3. But the bipedal robot summoned by
                one of the cultists survives the burst of gunfire.
            </p>
            <p>
                Kensington once again tries to convert the crowd. Some of the
                cultists seem to be having second thoughts, but they are
                encouraged by their bretheren. Shock therapy is administered.
                This kills all remaining enemies in the cargo bay.
            </p>
            <p>
                Quinoa loots a corpse and finds a sacrificial knife and cloak.
            </p>
            <p>
                Bria loots and finds a sacrificial knife and ruined cloak.
            </p>
            <p>
                Kensington loots and finds a sacrificial knife, cloak and 100
                credits.
            </p>
		</div>
	{% endblock %}
