{% extends 'layout.html' %}
{% import './components/list.html' as list %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-between w-100">

  {% for navList in navLists %}
  <div>

    {{ list.holoListOfLinks(navList) }}

  </div>
  {% endfor %}

  {% if 'username' not in session %}
  <div></div>
  {% endif %}

  {# MEMBERS SECTION #}
  {% if 'username' in session %}
  <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="card border-secondary">
      <div class="card-header">Enemy Component Browser</div>

      <div class="card-body">
        <div class="btn-group-vertical">
          <a class="btn btn-primary" href="/monster">Bestiary</a>
          <a class="btn btn-success" href="/monsterabilities"> Enemy Abilities </a>
          <a class="btn btn-warning" href="/monsterarmor">Enemy Armor</a>
          <a class="btn btn-danger" href="/monsterweapons">Enemy Weapons</a>
        </div>
      </div>
    </div>

    <div class="card border-secondary">
      <div class="card-header">Enemy Editors</div>

      <div class="card-body">
        <div class="btn-group-vertical">
          <a class="btn btn-primary" href="/monstereditor">Enemy Editor</a>
          <a class="btn btn-success" href="/monsterabilityeditor">Enemy Ability Editor</a>
          <a class="btn btn-warning" href="/monsterarmoreditor">Enemy Armor Editor</a>
          <a class="btn btn-danger" href="/monsterweaponeditor"> Enemy Weapon Editor </a>
          <a class="btn btn-primary" href="/monsterstats"> Enemy Database Metadata </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {# END MEMBERS SECTION #}

</div>
{% endblock %}
