<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}CX{% endblock %} - Compound X</title>

  {# Bootstrap uses popper to control the extending and hiding of dropdown menus #}
  <script type="text/javascript" src="/static/popper.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/styles.css">

  <script src="/static/jquery-3.2.1.min.js"></script>

  {% block head %}{% endblock %}
</head>
<body>

  {% include './layout/header.html' %}

  <div class="container">

    {% include './utility/site/flash_message.html' %}

    {% include './layout/nav/navbar.html' %}

    <div class="d-flex flex-row justify-content-between">
      {% if sideNav and sideNav|length > 0 %}
      {% include './layout/nav/side_nav.html' %}
      {% endif %}

      <div class="content">
        {% block content %}{% endblock %}
      </div>

    </div>
  </div>

  {% include './layout/footer.html' %}

  <script type="text/javascript" src="/static/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
