<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} - Compound X</title>
  <!-- Bootstrap uses popper to control the extending and hiding of dropdown menus -->
  <script type="text/javascript" src="../static/popper.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/styles.css">

  <!-- Let's get some jquery! -->
  <script src="../static/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../static/bootstrap.min.js"></script>
  <script src="../static/whoshere.js"></script>

  {% block head %}
  {% endblock %}
</head>
<body>
  {% block header %}
  <h1 class="text-center">Compound X</h1>
  {% endblock %}

  <nav class="navbar navbar-expand-lg">
    {% block nav %}
      <a href="/" class="navbar-brand">CX</a>

      <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarMain"
        aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-screen" id="navbarMain">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Getting Started</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">The Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Report Issues</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Game Feedback</a>
          </li>
        </ul>
      </div>
    {% endblock %}
  </nav>

  <div class="container content">
    {% with messages = get_flashed_messages() %}
        <!-- code from poco.com which does the lifting for displaying flash messages for user feedback -->
        <!-- See bootstrap.js docs here for how we get them to fade out http://v4-alpha.getbootstrap.com/components/alerts/ -->
      {% if messages %}
      <div id="flashcontainer">
        {% for message in range(messages|length) %}
        <div class="alert alert-dismissible alert-warning" role="alert" id="alert{{message}}">
          <button type="button" class="close" data-dismiss="alert" data-target="#alert{{message}}" aria-label="close">&times;</button>
          <p class="text-center mb-0">{{ messages[message] }}</p>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    {%block content%}{%endblock%}

  </div>
  <footer>
  {% block footer %}
    <p class="text-center">
      &copy; Copyright 2018 [Compound X authors/company]
    </p class="text-center">
  {% endblock %}
  </footer>
</body>
</html>