{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Bestiary</title>
		<script type="text/javascript" src="../static/monster.js"></script>
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="row">
				<div class="page-header">
					<h1 id="top"> Bestiary </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2"> <!-- table of contents div -->
					<div class="list-group">
						{% for monster in monsters %}
						<a class="list-group-item list-group-item-action" href="#{{monster['name']}}panel"> {{monster['name']}} </a>
						{% endfor %}
	                    <a class="list-group-item list-group-item-info" href="monsterstats"> Meta Data </a>
						<a class="list-group-item list-group-item-primary" href="#bountyboard"> Monster Creation Bounty Board </a>
						<a class="list-group-item list-group-item-success" href="#halloffame"> Monster Creator Hall of Fame </a>
					</div>
				</div>	<!-- end table of contents div -->
	            
				<div class="col-lg-10" id="monsters">
					{% for monster in monsters %}
					<div class="card text-white bg-secondary mb-3" id="{{monster['name']}}panel">
						<div class="card-header">
							<h3 id="breacherheading" class="card-title">{{monster['name']}}</h3>
							{% if monster['has_pic'] %}
							<img src="static/images/monsters/bypk_id/{{monster['pk_id']}}.png" alt="picture of a {{monster['name']}}" class="mugshot">
							{% endif %}
						</div>
						<div class="card-body">
							<div class="row">
								<dl class="col-lg-3 col-md-3 col-sm-4">
									<dt>Level</dt><dd>{{monster['level']}}</dd>
									<dt>Role</dt><dd>{{monster['role']}}</dd>
									<dt>Health</dt><dd>{{monster['health']}}</dd>
									<dt>Nanites</dt><dd>{{monster['nanites']}}</dd>
								</dl>
								<dl class="col-lg-3 col-md-3 col-sm-4">
									<dt>Strength</dt><dd>{{monster['strength']}}	({{monster['strmod']}})</dd>
									<dt>Perception</dt><dd>{{monster['perception']}}	({{monster['permod']}})</dd>
									<dt>Fortitude</dt><dd>{{monster['fortitude']}}	({{monster['fortmod']}})</dd>
									<dt>Charisma</dt><dd>{{monster['charisma']}} ({{monster['chamod']}})</dd>
									<dt>Intelligence</dt><dd>{{monster['intelligence']}}	({{monster['intmod']}})</dd>
									<dt>Dexterity</dt><dd>{{monster['dexterity']}}	({{monster['dexmod']}})</dd>
									<dt>Luck</dt><dd>{{monster['luck']}} ({{monster['lukmod']}})</dd>
								</dl>
								<dl class="col-lg-3 col-md-3 col-sm-4">
									<dt>Shock</dt><dd>{{monster['shock']}}</dd>
									<dt>Will</dt><dd>{{monster['will']}}</dd>
									<dt>Reflex</dt><dd>{{monster['reflex']}}</dd>
								</dl>
							</div>
							<div class="row">
								<div class="col-lg-9">
									{% for paragraph in monster['description']%}
									<p> {{paragraph}} </p>
									{% endfor %}
								</div>
							</div>
							<div class="row">
							{% for weapon in monster['weapons'] %}
								<div class="col-lg-4 col-md-6">
									<div class="card border-danger mb-3 inspectable">
										<div class="card-header">
											<h4 class="card-title"> {{weapon['name']}} </h4>
											<a class="nav-link dropdown-toggle" 
											data-toggle="dropdown" 
											href="#" role="button"
											aria-haspopup="true" aria-expanded="false"></a>
										</div>
										<div class="card-body text-danger collapse" aria-expanded="false">
											<dl>
												<dt>Damage</dt><dd>{{weapon['damage']}}</dd>
												<dt>APL</dt><dd> {{weapon['ap_level']}} </dd>
												<dt>Range</dt><dd>{{weapon['r1']}}m/{{weapon['r2']}}m/{{weapon['r3']}}m</dd>
												<dt>Accuracy</dt><dd>{{weapon['acc1']}}/{{weapon['acc2']}}/{{weapon['acc3']}} to miss</dd>
                        <dt>Type</dt><dd>{{weapon['type']}}</dd>
                        <dt>Suppression Level</dt><dd>{{weapon['suppression_level']}}</dd>
                        <dt>Mag Capacity</dt><dd>{{weapon['capacity']}}</dd>
                        <dt>Auto Fire Rate</dt> <dd> {{weapon['auto_fire_rate']}} </dd>
                        <dt>Mag Cost</dt><dd>${{weapon['mag_cost']}}</dd>
                        <dt>Weapon Cost</dt> <dd> ${{weapon['cost']}} </dd>
                        <dt>RMod</dt><dd>{{weapon['reflex_modifier']}}</dd>
                        <dt>RDC</dt><dd>{{weapon['reload_dc']}}</dd>
                        <dt>AFR</dt><dd>{{weapon['auto_fire_rate']}}</dd>
                        <dt>RDC</dt><dd>{{weapon['reload_dc'] }}</dd>
                        <dt>MSP</dt><dd>{{weapon['move_speed_penalty']}}</dd>
											</dl>
											<table class="table table-hover table-danger">
												<thead> 
													<tr>
														<th></th>
														<th colspan="3"> Range & Accuracy </th>
													</tr>
													<tr>
														<th></th>
														<th> {{weapon['r1']}}m </th>
														<th> {{weapon['r2']}}m </th>
														<th> {{weapon['r3']}}m </th> 
													</tr>
												</thead>
												<tbody>
													<tr>
														<th>Acc</th> 
														<td>{{weapon['acc1']}}</td>
														<td>{{weapon['acc2']}}</td>
														<td>{{weapon['acc3']}}</td> 
													</tr>
												</tbody>
											</table>
											<p class="card-text"> 
												{{ weapon['description'] }}
											</p>
										</div>
									</div>
								</div>
							{% endfor %}
							{% for armor in monster['armor'] %}
								<div class="col-lg-4 col-md-6">
									<div class="card border-warning inspectable">
										<div class="card-header">
											<h4 class="card-title"> {{armor['name']}} </h4>
											<a class="nav-link dropdown-toggle" 
											data-toggle="dropdown" 
											href="#" role="button"
											aria-haspopup="true" aria-expanded="false"></a>
										</div>
										<div class="card-body text-warning collapse" aria-expanded="false">
											<dl>
												<dt>Coverage</dt><dd>{{armor['coverage']}}%</dd>
												<dt>AP Level</dt><dd>{{armor['ap_level']}}</dd>
												<dt>Armor Points</dt><dd>{{armor['armor_points']}}</dd>
				                                <dt>Armor Type:</dt><dd>{{armor['type']}}</dd>
												<dt>Mags</dt><dd>{{armor['mags']}}</dd>
												<dt>Move Penalty</dt><dd>{{armor['move_penalty']}}</dd>
												<dt>Cost</dt><dd>{{armor['cost']}}</dd>
											</dl>
											<p class="card-text"> {{armor['description']}}</p>
											<p><strong> Hardpoint Equipment </strong></p>
											<p class="card-text"> {{armor['hardpoints']}} </p>
										</div>
									</div>
								</div>
							{% endfor %}
							{% for ability in monster['abilities'] %}
								<div class="col-lg-4 col-md-6">
									<div class="card border-success mb-3 inspectable">
										<div class="card-header">
											<h4 class="card-title"> {{ability['name']}} </h4>
											<a class="nav-link dropdown-toggle" 
											data-toggle="dropdown" 
											href="#" role="button"
											aria-haspopup="true" aria-expanded="false"></a>
										</div>
										<div class="card-body text-white collapse" aria-expanded="false">
											<p> <strong> Type: {{ability['type']}} </strong> 
											</p>
											<p class="card-text"> {{ability['description']}} </p>
										</div>
									</div>
								</div>
							{% endfor %}
							</div>
	                        <div class="col-lg-8">
	                            <p>This enemy proudly presented by {{ monster['author'] }}</p>
	                            <p> <a href="monsterupdate/{{monster['pk_id']}}" class="btn btn-warning btn-xs">Update this monster</a></p>
	                            <p><a href="#top" class="btn btn-info btn-xs">back to top</a></p>
	                        </div>
						</div> <!-- end panel-body -->
					</div>
					{% endfor %}
				</div> <!-- end monsters -->
			</div>
			<div class="row">
				<h1> Bounty Board </h1>
					<div class="col-lg-4">
						<h2 id="bountyboard"> Monster Bounty Board </h2>
						<p> Here's a short list of the monsters we still need to make and post. If you could put these together and email them to Mike, every DM would really appriciate it! Points are awarded based on how useful a given mob is likely to be in dungeon making and how complex the monster was to create. Points do not have any explicit value, but archDMs will honor a social contract and listen very closely to those from the community who are contributing. Custom monsters will have a score given to them upon website update. (until we find more programmers to automate the bounty system). </p>
						<ul>
							<li> A level 1 pleb (DND goblin analogue) -  100 points</li>
							<li> A level 3 Anti-armor unit -  70 points</li>
							<li> A level 3 Pirate medic  -  80 points</li>
							<li> A level 10 standard pleb  -  100 points</li>
							<li> A level 5 showstopper for random encounters  -  80 points</li>
						</ul>
					</div>
					<div class="col-lg-4">
						<h2 id="halloffame"> Hall of Fame </h2>
						<p> These wonderful Monster Ranglers have designed and posted monsters from the bounty board or from their own imaginations! Thank you SO SO MUCH!!! </p>
						<ul>
							<li> Sarah Slater - 150 points</li>
								<ul>
									<li> Growing Myriad - 50 </li>
									<li> Oozing Myriad - 50 </li>
									<li> Trainee - 50 </li>
							<li>Michael Hedges - 120 points</li>
								<ul>
									<li> Pirate Breacher - 40</li>
									<li> Pirate Gunslinger - 30</li>
									<li> Cultist Initiate - 50</li>
								</ul>
							</ul>
						</ul>
					</div>
			</div>
		</div><!-- end container -->
	{% endblock %}
	