// BOOTSTRAP CLASSES
.navbar {
  background: $black;
  border: solid 2px $silver;
  border-radius: $std-b-radius;

  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0;
}

.navbar-brand {
  font-size: 2rem;
  color: $white;
  background-color: $black;

  border-radius: $std-b-radius;

  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
}

.navbar-nav {
  width: 100%;
  align-content: space-around;

  & > *:first-child {
    margin-left: 1rem;
    margin-right: auto;
  }

  & > *:last-child {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.nav-item {
  background-color: $gray-200;
  border-radius: $nav-select-b-radius;

  margin: .25rem auto;
}


// OUR CLASSES
.navbar-screen {
  font-size: 1.5rem;
  background-color: $white;

  border: 0;
  border-right: solid 0.5rem black;
  border-left: solid 0.5rem black;
  border-radius: $std-b-radius;
}
