// PLACEHOLDER CLASS
%navbar-hz-skeleton {
  width: 100%;

  flex-direction: row;
  align-content: space-around;

  & > * {
    display: flex;
    justify-content: center;

    margin: 0 auto;
  }
}

// BOOTSTRAP CLASSES
.navbar {
  background: $black;
  border: solid 2px $silver;
  border-radius: $std-b-radius;

  margin: 0.5rem 0 0 0;
  padding: 0;
}

.navbar-brand {
  font-size: 2rem;
  color: $white;
  background-color: $black;

  border-radius: $std-b-radius;

  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
}

.navbar-nav {
  @extend %navbar-hz-skeleton;

  & > *:first-child {
    margin-left: 0;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.nav-item {
  white-space: nowrap;

  background-color: $gray-200;
  border-radius: $nav-select-b-radius;

  margin: .25rem auto;
}


// OUR CLASSES
.navbar-screen {
  font-size: 1.5rem;
  background-color: $white;

  border: 0;
  border-right: solid 0.5rem black;
  border-left: solid 0.5rem black;
  border-radius: $std-b-radius;

  padding: 0 0.5rem;
}

.subnavbar {
  @extend %navbar-hz-skeleton;

  flex-direction: column;

  & > ul {
    flex-direction: row;
    justify-content: space-between;

    & > li {
      flex: 1 1 0;
    }

.navbar-member {
  display: inline-flex;
  position: absolute;
  top: 0.25rem;

  margin-left: 0.5rem;

  a {
    color: $dark;
    background-color: $orange;

    margin-right: 0.25rem;
  }
}
