{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Enemy Updator</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
		<script  src="../static/npcgen.js"></script>
	{% endblock %}
	{% block content %}
		<div class="container">
			<div class="page-header">
				<h1> Enemy Updator - {{myMonster['name']}}</h1>
			</div>
            <div class="row">
    			<div class="col-lg-12">
                    <p>Click the button to generate new stats at random. Or
                        Enter Ability Score numbers and the rest of the stats
                        should automatically update to match. The Total stats
                        number is not saved; it is just there as a helpful
                        reference. Name and description cannot be blank in order
                        to successfully upload a new NPC. Health, Nanites and
                        attributes cannot be negative. The term monster
                        is sometimes used in the context of these forms as a
                        misnomer for non-player character, especially
                        those which are hostile to players.
                    </p>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
    				<form class="form-horizontal" action="/updateMonster/{{myMonster['pk_id']}}" method="post" autocomplete="off">
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <fieldset>
                                    <legend> Ability Scores </legend>
                                    <div class="col-lg-6">
                                        <label for="Strength">Strength:</label>
                                        <input class="form-control" id="Strength" value="{{myMonster['strength']}}" name="strength">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="Perception"> Perception:</label>
                                        <input class="form-control" id="Perception" value="{{myMonster['perception']}}"  name="perception"> </div>
                                    <div class="col-lg-6">
                                        <label for="Fortitude"> Fortitude: </label>
                                        <input class="form-control" id="Fortitude" value="{{myMonster['fortitude']}}"  name="fortitude"> </div>
                                    <div class="col-lg-6">
                                        <label for="Charisma"> Charisma: </label>
                                        <input class="form-control" id="Charisma" value="{{myMonster['charisma']}}"  name="charisma"> </div>
                                    <div class="col-lg-6">
                                        <label for="Intelligence"> Intelligence: </label>
                                        <input class="form-control" id="Intelligence" value="{{myMonster['intelligence']}}"  name="intelligence"> </div>
                                    <div class="col-lg-6">
                                        <label for="Dexterity"> Dexterity: </label>
                                        <input class="form-control" id="Dexterity" value="{{myMonster['dexterity']}}"  name="dexterity"> </div>
                                    <div class="col-lg-6">
                                        <label for="Luck"> Luck: </label>
                                        <input class="form-control" id="Luck" value="{{myMonster['luck']}}"  name="luck"> </div>
                                    <div class="col-lg-6">
                                        <label for="TotalStats"> Total: </label>
                                        <input class="form-control" id="TotalStats" value="35"> <br />
                                    </div>
                                </fieldset>
                                </div>
            					<div class="col-lg-4">
            						<fieldset>
            							<legend>Role Information</legend>
            							Name:
            							<input class="form-control" id="unit_name" name="name" value="{{myMonster['name']}}"><br/>
            							Level:
            							<input class="form-control" id="unit_level" name="level" value="{{myMonster['level']}}"/><br/>
            							Role:
            							<Select name="role" id="role">
            								<option>{{myMonster['role']}}</option>
            								<option>Infantry</option>
            								<option>Support</option>
            								<option>Healer</option>
            								<option>Leader</option>
            								<option>Brute</option>
            								<option>Artillary</option>
            								<option>Lurker</option>
            								<option>Controler</option>
            								<option>Tank</option>
            								<option>Swarm</option>
            								<option>Minion</option>
            								<option>Anti-Armor</option>
            								<option>Scout</option>
            								<option>Other</option>
                                        </Select>
            						</fieldset>
                                    <fieldset>
                                        <legend> Attributes </legend>
                                        <p>These are dynamically generated based on ability scores. </p>
                                        Health:
                                        <input class="form-control" id="Health" value="{{myMonster['health']}}"  name="health"><br />
                                        Nanites:
                                        <input class="form-control" id="Nanites" value="{{myMonster['nanites']}}"  name="nanites"><br />
                                    </fieldset>
                                </div> <!-- end column lg 4 -->
        					<div class="col-lg-4">
        					<fieldset>
        						<legend> Saving Throws </legend>
        						Shock:
        						<input class="form-control" id="Shock" value="{{myMonster['shock']}}" name="shock"><br />
        						Will:
        						<input class="form-control" id="Will" value="{{myMonster['will']}}" name="will"><br />
        						Reflex:
        						<input class="form-control" id="Reflex" value="{{myMonster['reflex']}}" name="reflex"><br />
        					</fieldset>
        					</div>
                        </div> <!-- end form row -->
                        <div class="form-group row">
        					<div class="col-lg-12">
        						<fieldset>
        						<legend>Description</legend>
        						<textarea class="form-control" type="textarea" name="description" rows="4" cols="70">{% for paragraph in myMonster['description']%}
	{{paragraph}}{%endfor%}
        						</textarea>
        						</fieldset>
        					</div>
                        </div>
                        <div class="form-group row">
        					<div class="col-lg-4">
        						<fieldset>
        							<input class="form-button btn btn-success" type="submit" id="textButton" value="Update {{ myMonster['name'] }}" >
        						</fieldset>
        					</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <fieldset>
                                    <legend>Privacy</legend>
                                    <label for="private" class="form-check-label"> Private </label>
                                    {% if myMonster['private'] %}
                                    <input type="checkbox" name="private" value="t" id="private" checked class="form-check-input">
                                    {% else %}
                                    <input type="checkbox" name="private" value="t" id="private" class="form-check-input">
                                    {% endif %}
                                    <p> As long as this enemy is marked private, it will only appear to you in the bestiary and on the
                                    enemy editor. The armor, weapons and abilities will still be available for other DMs to use on
                                    their enemies though. </p>
                                </fieldset>
                            </div>
                        </div>
    				</form>
                </div> <!-- end form column -->
        			<div class="col-lg-4">
        				<h2> Existing Monsters </h2>
        				<table class="table table-striped table-hover">
        				{% for monster in monsters %}
        					<tr>
        						<td>{{monster ['name']}}</td>
        						<td>{{monster['health']}} HP</td>
        						<td><form action="deletemonster/{{monster['pk_id']}}" method="POST">
        							<input type="submit" value="Delete" class="form-control">
        							</form>
        						</td>
        					</tr>
        				{% endfor %}
        				</table>
        			</div> <!-- end existing monster column -->
                </div><!-- end row -->
            </div>
		</div>
	{% endblock %}
