{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Enemy Weapons</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block content %}
		<div class="container">
            <div class="row">
    			<div class="page-header">
    				<h1 id="top"> Enemy Weapons </h1>
    			</div>
            </div>
            <div class="row">
    			<div class="col-lg-2"> <!-- table of contents div -->
    				<div class="list-group table-of-contents">
    					{% for weapon in weapons %}
    					<a class="list-group-item" href="#{{weapon['name']}}panel"> {{weapon['name']}} </a>
    					{% endfor %}
                        <a class="list-group-item list-group-item-info" href="monsterstats"> Meta Data </a>
    				</div>
    			</div>	<!-- end table of contents div -->

    			<div class="col-lg-10" id="weapons">
    				<p>There are {{weapons | count}} weapons for enemies to choose from. Some weapon
                        stats have been abrieviated on their cards below. The list of abreviations is
                        below.</p>
                    <dl class="border-danger col-lg-12">
                        <dt>APL</dt><dd>Armor Piercing Level</dd>
                        <dt>RMod</dt><dd>Reflex Modifier</dd>
                        <dt>MSP</dt><dd>Move Speed Penalty</dd>
                        <dt>Sup Lvl</dt><dd>Suppression Level</dd>
                        <dt>Cap</dt><dd>Magazine Capacity</dd>
                        <dt>RDC</dt><dd>Reload DC</dd>
                        <dt>AFR</dt><dd>Automatic Fire Rate</dd>
                    </dl>
                    <div class="row">
    				{% for weapon in weapons %}
                    <div class="col-lg-6 col-md-12 col-sm-12">
        				<div class="card border-danger" id="{{weapon['name']}}panel">
        					<div class="card-header">
        						<h3 id="breacherheading" class="card-title">{{weapon['name']}}</h3>
        					</div>
        					<div class="card-body">
        						<p> {{weapon['description']}} </p>
                                <div class="row">
        						<dl class="col-lg-5 col-md-6 col-sm-12">
        							<dt>Damage</dt><dd>{{weapon['damage']}}</dd>
                                    <dt>APL</dt><dd>{{weapon['ap_level']}}</dd>
                                    <dt>RMod</dt><dd>{{weapon['reflex_modifier']}}</dd>
                                    <dt>MSP</dt><dd>{{weapon['move_speed_penalty']}}</dd>
                                    <dt>Sup Lvl</dt><dd>{{weapon['suppression_level']}}</dd>
        							<dt>Type</dt><dd>{{weapon['type']}}</dd>
        						</dl>
                                <dl class="col-lg-5 col-md-6 col-sm-12">
                                    <dt>Weapon Cost</dt><dd> ${{weapon['cost']}}</dd>
                                    <dt>Mag Cost</dt><dd>${{weapon['mag_cost']}}</dd>
                                    <dt>Cap</dt><dd>{{weapon['capacity']}}rds</dd>
                                    <dt>RDC</dt><dd>{{weapon['reload_dc']}}</dd>
                                    <dt>AFR:</dt> <dd> {{weapon['auto_fire_rate']}} rnds/Act </dd>
                                </dl>
                            </div>
                            <div class="row">
                                <table class="table table-hover table-danger">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th colspan="3"> Range & Accuracy </th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th> {{weapon['r1']}}m </th>
                                            <th> {{weapon['r2']}}m </th>
                                            <th> {{weapon['r3']}}m </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Acc</th>
                                            <td>{{weapon['acc1']}}</td>
                                            <td>{{weapon['acc2']}}</td>
                                            <td>{{weapon['acc3']}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body row">
        						<div class="col-lg-6 col-md-6 col-sm-12">
        							<form action="/assignMonsterWeapon" method="POST">
        								<legend> Give weapon to: </legend>
        								<select name="monster_id">
        									{% for monster in monsters %}
        									<option value="{{monster['pk_id']}}">{{monster['name']}}</option>
        									{% endfor %}
        								</select>
        								<input type="hidden" name="weapon_id" value="{{weapon['pk_id']}}">
        								<input class="form-button btn btn-success" type="submit" Value="Give">
        							</form>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
        							<!-- Remove weapon mapping -->
        							<form action="/deletemonsterweaponmap" method="POST">
        								<legend>Take Weapon Away From:</legend>
        								<select name="pk_id">
        									{% for monster in weapon['maps'] %}
        									<option value="{{monster[0]}}">{{monster[1]}}</option>
        									{% endfor %}
        								</select>
        								<input class="form-button btn btn-danger" type="submit" Value="Take">
        							</form>
        						</div>
                            </div>
                            <div class="card-body row">
                                <div class="col-lg-12">
                                    <a href="/monsterweaponupdate/{{weapon['pk_id']}}" class="btn btn-warning btn-xs"> Update This Weapon </a>
                                </div>
                                <div class="col-lg-4">
                                    <a href="#top" class="btn btn-info btn-xs">back to top</a>
                                </div>
                                <div class="col-lg-4">
                                    <form action="/deletemonsterweapon/{{weapon['pk_id']}}" method="post">
                                        <input type="submit" class="form-button btn btn-danger" value="Delete Weapon">
                                    </form>
                                </div>
                                <div class="col-lg-12">
                                    <p> This weapon proudly presented by {{ weapon['author'] }}</p>
                                </div>
                            </div> <!-- end panel-body row -->
        					</div> <!-- end panel-body -->
        				</div>
                    </div>
    				{% endfor %}
                </div><!-- end weapon row -->
    			</div> <!-- end weapons -->
            </div> <!-- end row -->
		</div><!-- end container -->
	{% endblock %}
