{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Armor Smithy</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Armor Smith </h1>
			</div>
			<div class="col-lg-8">
				<form method="POST" action="addgun" class="form-horizontal">
					<fieldset>
						<legend>Legend</legend>
						<div class="form-group">
						  <label for="inputEmail" class="col-lg-2 control-label">Armor Name</label>
						  <div class="col-lg-6">
							<input class="form-control" id="inputEmail" placeholder="Name"  autocomplete="off" type="text" name="name">
						  </div>
						</div>
						<div class="form-group">
						  <label for="gunDamage" class="col-lg-2 control-label">Damage Reduction</label>
						  <div class="col-lg-2">
							<input class="form-control" id="dr" placeholder="##" type="text" name="gunDamage">
						  </div>
						  <div class="col-lg-2">
							<label for="range" class="col-lg-2 control-label">Primary Mags</label>
							<input class="form-control" id="range" placeholder="##"  autocomplete="off" type="text" name="prime">
						  </div>
						</div>
						<div class="form-group">
						  <label for="typeSelect" class="col-lg-2 control-label">Type</label>
						  <div class="col-lg-6">
							<select class="form-control" id="typeSelect" name="type">
							  <option value="Concealed">Concealed</option>
							  <option value="Recon">Recon</option>
							  <option value="Medium">Medium</option>
							  <option value="Heavy">Heavy</option>
							  <option value="Full">Full</option>
							  <option value="Cloaking">Cloaking</option>
							</select>
							<label for="missChnce" class="col-lg-2 control-label">Secondary Mags</label>
							<div class="col-lg-2">
								<input class="form-control" id="missChnce" placeholder="Miss"  autocomplete="off" type="text" name="secondary">
							</div>
						  </div>
						</div>
						<div class="form-group">
							<label for="clip" class="col-lg-2 control-label">Coverage</label>
							<div class="col-lg-2">
								<input class="form-control" id="clip" placeholder="##" type="text" name="coverage"></input>
							</div>
							<label for="cost" class="col-lg-2 control-label">Cost</label>
							<div class="col-lg-2">
								<input class="form-control" id="cost" placeholder="##" type="text" name="cost"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="fx" class="col-lg-2 control-label">Effect</label>
							<div class="col-lg-8">
								<textarea id="fx" class="form-control" rows="3" name="effect"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-lg-4">
				<h3>Guns</h3>
				{% for peice in armor %}
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{ armor['name'] }}</h3>
						</div>
						<div class="panel-body">
							{% for key in peice.keys() %}
								<p><strong>{{key}}</strong>{{peice[key]}}</p>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
	