{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Armor</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Armor </h1>
			</div>
			<div class="col-lg-2">
				<div class="list-group table-of-contents">
					{% for type in armors %}
						<a class="list-group-item active" href="#{{type}}"><strong>{{ type }}</strong></a>
						{% for peice in armors[type] %}
							{% if peice['minLevel'] < 10 or 'username' in session %}
							<a class="list-group-item" href="#{{peice['type']}}{{peice['name']}}panel"> {{peice['name']}} </a>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-6">
			<p>Any reinforced armour, the amount of Damage Reduction is rolled at the time of purchase. A Carbon-Steel Fiber Titanium Reinforced armour plate might be anywhere from 26-35 DR for its lifetime, depending on what you roll when you purchase it. These armours are a bit of a gamble, since they may provide better protection than the next tier up, or they might only provide marginally better protection than the last tier.</p>
			{% for type in armors.keys() %}
				<h2 id="{{type}}"> {{ type }} </h2>
				{% for armor in armors[type] %}
					{% if armor['minLevel'] < 10 or 'username' in session %}
					{% if armor['minLevel'] >= 10 %}
					<div class="panel panel-success" id="{{armor['type']}}{{armor['name']}}panel">
					{% else %}
					<div class="panel panel-primary" id="{{armor['type']}}{{armor['name']}}panel">
					{% endif %}
						<div class="panel-heading">
							<h3 class="panel-title">{{ armor['name'] }}</h3>
						</div>
						<div class="panel-body">
					{% for atb in armor.keys() %}
						<p> <strong>{{atb}}:</strong> {{armor[atb]}} </p>
					{% endfor %}
						</div>
					</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
			</div>
		</div>
	{% endblock %}
	