{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Character Viewer</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
	
	
		<div class="container">
			<div class="page-header">
				<h1> Compound X Character Viewer</h1>
			</div>
			<div class="col-lg-6">
				<table class="table table-striped table-hover ">
					<tr>
						<th> <form action="/action_page.php">
							Welcome To CX Docs Character Viewer <br>
							<!-- HTML text and text boxes with id tags-->
							Character Name:<br>
							<input type="text" name="CharacterName" id="CharName" value = "Hooman">
								<br>
								<br>
								<br>
							Race:<br>
							<input type="text" name="Race" id="Race" value = "Human">
								<br>
								<br>
							Class:<br>
							<input type="text" name="ClassName" id="Classname" value = "Soldier">
								<br>
								<br>
								<br>
								<br>
							Strength:<br>
							<input type="text" name="Strength" id="Str" value = "1">
								<br>
							Perception::<br>
							<input type="text" name="Perception" id="Per" value = "1">
							<br>
							Fortitude: <br>
							<input type="text" name="Fortitude" id="Fort" value = "1">
							<br>
							Charisma: <br>
							<input type="text" name="Charisma" id="Char" value = "1">
							<br>
							Intelligence: <br>
							<input type="text" name="Intelligence" id="Intel"  value = "1">
							<br>
							Dexterity:<br>
							<input type="text" name="Dexterity" id="Dex" value = "1">
							<br>
							Luck: <br>
							<input type="text" name="Luck" id="Luck" value = "1">
							<br>
							Total Stat Points: <br>
							<input type="text" name="TotalStatPoints" readonly id="TSP" value = "1"<br>
							<br>
							Reflex: <br>
							<input type="text" name="Reflex" readonly id="Reflex" value = "1">
							<br>
							Will: <br>
							<input type="text" name="Will" readonly id="Will" value = "1">
							<br>
							Shock: <br>
							<input type="text" name="Shock" readonly id="Shock" value = "1">
							<br>
							Level: <br>
							<input type="text" name="Level" readonly id="Lvl" value = "1">
							<br>
						
							
							</form>
							
						
						
					</tr>
					
				</table>
				
			</div>
		</div>
		{% endblock %}