{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Classes</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1 id="top"> Classes </h1>
			</div>
			<div class="col-lg-2">
				<div class="list-group table-of-contents">
					{% for class in classes %}
						<a class="list-group-item" href="#{{ class['name'] }}panel">{{ class['name'] }}</a>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-9">
				<div >
					<h2>Core classes:</h2>
					<p>  Your character starts at level 0. At level 0 you have skills, but no class, class feats or regular feats. At level 1 you get to select a class, and recieve the class passives. However, you do not select a class feat until level 5. On selecting a class, you gain all of the passives listed, and get to choose between one of two listed feats. For any listed class, if it says "Gain X Skill at 10" that means you get to add the X skill to your skill list, and it starts at rank 10, meaning a +10% to any roll for that skill. At the first level taken in a class [other than level 1), you get the single star version of the feat. At level 5 and every 5 levels thereafter, you can choose to rank up the feat, or add the other feat to your character. </p>
					<p> There are {{classes | count}} Core Classes to choose from.</p>
				</div>
			{% for class in classes %}
				<div class="panel panel-success" id="{{class['name']}}panel">
						<div class="panel-heading">
							<h3 class="panel-title">{{ class['name'] }}</h3>
						</div>
						<div class="panel-body">
							<p> {{ class['description'] }} </p>
							<div class="col-lg-3">
								<div class="list-group">
									<a href="#" class="list-group-item active warn"> Weapons </a>
									{% for wep in class['Weapon Proficiencies']%}
										<a href="#" class="list-group-item">{{wep}}</a>
									{% endfor %}
								</div>
							</div>
							<div class="col-lg-3">
								<div class="list-group">
									<a href="#" class="list-group-item active"> Armor </a>
									{% for arms in class['Armour Proficiencies']%}
										<a href="#" class="list-group-item">{{arms}}</a>
									{% endfor %}
								</div>
							</div>
							<div class="col-lg-3">
								<img src="static/images/classes/{{class['name']}}.png" 
									alt="Picture of a {{class['name']}}" />
							</div>
							<div class="col-lg-9">
								<p>Passives:</p>
								<ul>
									{% for passive in class['Passives'] %}
										<li> {{passive}} </li>
									{% endfor %}
								</ul>
							</div>
							<div class="col-lg-9">
								<p>Class Feats:</p>
								<ul>
									{% for feat in class['Class Feats'] %}
										<li> {{feat}} </li>
									{% endfor %}
								</ul>
							</div>
							<small><a href="#top">back to top</a></small>
						</div>
					</div>
			{% endfor %}
			</div>
		</div>
	{% endblock %}
	