<!DOCTYPE hmtl> <!-- this tag is the doctype. It tells smarter web browsers what kind of file it is -->

<!-- This is a comment. It won't actually display ever -->

<html> <!-- This is the HTML tag. All of your HTML should be between the open HTML tag and the close HTML tag -->
	<head> <!-- this is the head tag. Things that you don't expect to appear on the page go here. Things like the links to javascript, CSS stylsheets and changing the name of the page as it appears in the browser tab -->
		<!-- some code will go here -->
	</head> <!-- Note that almost every tag has an open and a close tag. 
	Open tags just use the type of tag, and close tags start with a slash and are then the type of tag that you want to close. -->
	<body> <!-- This is the body tag. All of the things that you want on the page go between the open body tag and the close body tag. -->
		<!-- some code will go here -->
	</body>
</html> <!-- This is the close HTML tag. This should be the last tag in the web page  -->