{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Compound X Players Documentation </h1>
			</div>
			<div class="col-lg-4">
			{% if 'username' in session %}
				<p>Welcome, {{session['username']}}!</p>
				<form action="logout" method="post">
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-primary">Logout</button>
							<input type="hidden" name="X-CSRF" value="{{session['X-CSRF']}}" />
						</div>
					</div>
				</form>
			{% else %}
				<form action="login" method="post" class="form-horizontal">
				<div class="form-group">
					<label for="uname" class="col-lg-2 control-label">username</label>
						<div class="col-lg-10">
							<input class="form-control" id="uname" placeholder="Username" autocomplete="off" type="text" name="uname">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-lg-2 control-label">Password</label>
						<div class="col-lg-10">
							<input class="form-control" id="inputPassword" placeholder="Password"  autocomplete="off" type="password" name="password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-primary">Login</button>
						</div>
					</div>
						<input type="hidden" name="X-CSRF" value="{{session['X-CSRF']}}" />
				</form>
			{% endif %}
			</div>
			<div class="col-lg-8">
				<div class="col-lg-3 col-md-3 col-sm-4">
				<p>Available interactive pages:</p>
					<div class="list-group table-of-contents">
						<a class="list-group-item" href="levelup">Level up</a>
						<a class="list-group-item" href="guns">Guns</a>
						<a class="list-group-item" href="armor">Armor</a>
						<a class="list-group-item" href="items">Items</a>
						<a class="list-group-item" href="races">Races/Species</a>
						<a class="list-group-item" href="classes">Classes</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4">
				<p>Available static pages:</p>
					<div class="list-group table-of-contents">
						<a class="list-group-item" href="rules">Basic Rules</a>
						<a class="list-group-item" href="lore">Lore</a>
						<a class="list-group-item" href="feats">Feats</a>
					</div>
				</div>
				{% if 'username' in session %}
				<!-- TODO: make only available to admins -->
				<div class="col-lg-3 col-md-3 col-sm-4">
				<p>Available Smithies:</p>
					<div class="list-group table-of-contents">
						<a class="list-group-item" href="armorsmith">Armor Smithy</a>
						<a class="list-group-item" href="weaponsmith">Weapon Smithy</a>
						<a class="list-group-item" href="itemsmith">Item Smithy</a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}
	