{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Level Up</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Compound X Players Documentation </h1>
			</div>
			<div class="col-lg-8">
				
				<p>Available interactive pages:</p>
				<div class="col-lg-3 col-md-3 col-sm-4">
					<div class="list-group table-of-contents">
						<a class="list-group-item" href="levelup">Level up</a>
						<a class="list-group-item" href="guns">Guns</a>
						<a class="list-group-item" href="armor">Armor</a>
						<a class="list-group-item" href="items">Items</a>
						<a class="list-group-item" href="races">Races/Species</a>
						<a class="list-group-item" href="classes">Classes</a>
					</div>
				</div>
				<p>Available static pages:</p>
				<div class="col-lg-3 col-md-3 col-sm-4">
					<div class="list-group table-of-contents">
						<a class="list-group-item" href="rules">Basic Rules</a>
						<a class="list-group-item" href="lore">Lore</a>
						<a class="list-group-item" href="feats">Feats</a>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	