{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Level Up</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Compound X Players Documentation </h1>
			</div>
			<div class="col-8">
				<p>Available interactive pages:</p>
				<ul>
					<li><a href="levelup">Level up</a></li>
					<li><a href="guns">Guns</a></li>
					<li><a href="armor">Armor</a></li>
					<li><a href="items">Items</a></li>
					<li><a href="races">Races/Species</a></li>
					<li><a href="classes">Classes</a></li>
				</ul>
			</div>
		</div>
	{% endblock %}
	