{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Item Smith</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Item Smith </h1>
			</div>
			<div class="col-lg-8">
				<form method="POST" action="additem" class="form-horizontal">
					<fieldset>
						<legend>Legend</legend>
						<div class="form-group">
						  <label for="inputEmail" class="col-lg-2 control-label">Item Name</label>
						  <div class="col-lg-6">
							<input class="form-control" id="inputEmail" placeholder="Name"  autocomplete="off" type="text" name="itemname">
						  </div>
						</div>
						<div class="form-group">
						  <label for="typeSelect" class="col-lg-2 control-label">Type</label>
						  <div class="col-lg-5">
							<select class="form-control" id="typeSelect" name="itemType">
							  <option value="Tool">Tool</option>
							  <option value="Wearable">Wearable</option>
							  <option value="Head Gear">Head Gear</option>
							  <option value="Consumables">Consumables</option>
							  <option value="Explosives">Explosives</option>
							</select>
						  </div>
						</div>
						<div class="form-group">
							<label for="cost" class="col-lg-2 control-label">Cost</label>
							<div class="col-lg-2">
								<input class="form-control" id="cost" placeholder="##" type="text" name="cost"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="fx" class="col-lg-2 control-label">Details</label>
							<div class="col-lg-8">
								<textarea id="fx" class="form-control" rows="3" name="details"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-lg-4">
				<h3>Items</h3>
				{% for item in items %}
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{ item['name'] }}</h3>
						</div>
						<div class="panel-body">
							{% for key in item.keys() %}
								
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
	