{%extends "layout.html"%}
	{% block head %}
		<title>CX Docs - Files</title>
		<script type="text/javascript" src="../static/mission_files.js"></script>
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Mission Files </h1>
			</div>
      		<div class="row">
      			<input class="col-lg-12" id="searchbar" type="text" placeholder="Searchbar" />
				<div class="col-lg-2"> <!-- table of contents div -->
					<div class="list-group" id="missionToC"></div>
				</div>	<!-- end table of contents div -->
				<div class="col-lg-10" id="missionSpot"></div> <!-- end dungeons -->
			</div>
      		</div>
		</div>
	{% endblock %}