{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Missions</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Missions </h1>
			</div>
			<div class="col-lg-2">
				<div class="list-group table-of-contents">
					{% for mission in missions %}
						<a class="list-group-item active" href="#{{type}}"><strong>{{ mission['name'] }}</strong></a>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-6">
			<p>Any reinforced armour, the amount of Damage Reduction is rolled at the time of purchase. A Carbon-Steel Fiber Titanium Reinforced armour plate might be anywhere from 26-35 DR for its lifetime, depending on what you roll when you purchase it. These armours are a bit of a gamble, since they may provide better protection than the next tier up, or they might only provide marginally better protection than the last tier.</p>
			{% for type in armors.keys() %}
				<h2 id="{{mission['name']}}"> {{ mission['name'] }} </h2>
				
			{% endfor %}
			</div>
		</div>
	{% endblock %}
	