{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Enemy Metadata</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
    <div class="container">
			<div class="page-header">
				<h1 id="top"> Enemy Metadata </h1>
			</div>
            <div class="col-lg-2">
                <div class="list-group table-of-contents">
                    <a class="list-group-item" href="monster">Beastiary</a>
                    <a class="list-group-item" href="monsterabilities"> Enemy Abilities </a>
                    <a class="list-group-item" href="monsterarmor">Enemy Armor</a>
                    <a class="list-group-item" href="monsterweapons">Enemy Weapons</a>
                    <a class="list-group-item" href="monstereditor">Enemy Editor</a>
                    <a class="list-group-item" href="monsterabilityeditor">Enemy Ability Editor</a>
                    <a class="list-group-item" href="monsterarmoreditor">Enemy Armor Editor</a>
                    <a class="list-group-item" href="monsterweaponeditor"> Enemy Weapon Editor </a>
                </div>
            </div>
            <div class="col-lg-4">
                <h2> Level Breakdown </h2>
                <p> There are {{monsters|count}} enemies registered in the database.</p>
                <table class="table">
                {% for level in stats['levelcount'].keys() | sort %}
                <tr><td>Level {{level}}</td><td> {{stats['levelcount'][level]}} enemies</td></tr>
                {% endfor %}
                </table>
            </div>
            <div class="col-lg-6">
                <h2> Weapons, Abilities and Armor </h2>
                <p> While not every enemy needs to have armor, weapons and abilities, all of them should at least have 
                        one, and most should have at least two of the three. 
                </p>
                <p> Enemies without  abilities: {{stats['noabilities']}}  ({{(stats['noabilities'] / stats['monsters'] * 100)| round(1, 'floor')}}%)</p>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" style="width:{{stats['noabilities'] / stats['monsters'] * 100}}%">
                  </div>
                </div>       
                <p> Enemies without weapons: {{stats['noweapons']}}  ({{stats['noweapons'] / stats['monsters'] * 100| round(1, 'floor')}}%)</p>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" style="width: {{stats['noweapons'] / stats['monsters'] * 100}}%">
                </div>
            </div>
                <p> Enemies without armor: {{stats['noarmor']}}  ({{stats['noarmor'] / stats['monsters'] * 100| round(1, 'floor')}}%)</p>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" style="width: {{stats['noarmor'] / stats['monsters'] * 100}}%">
                  </div>
                </div>
                <p> Enemies without any mappings: {{stats['hasnothingcount']}}  ({{(stats['hasnothingcount'] / stats['monsters'] * 100)| round(1, 'floor')}}%)</p>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" style="width:{{stats['hasnothingcount'] / stats['monsters'] * 100}}%">
                    </div>
                </div>
                <p>The "naked" enemies are listed below. Enemies which don't have an ability, weapon nor 
                    any armor. To add an existing ability, go to the <a href="monsterabilities"> enemy abilities </a> page. To add an existing armor to an enemy, go to the <a href="monsterarmor"> enemy outfitters </a> page. Similarly, you can go to the <a href="monterweapons"> enemy aromory </a> page to add existing weapons. </p>
                    <ul>
                        {% for monster in stats['nakedMonsters'] %}
                        <li> {{monster['name']}} </li>
                        {% endfor %}
                    </ul>
                <p><small><a href="#top">back to top</a> </small></p>
            </div>
            <div class-"col-lg-6">
                <h2>Contributors</h2>
                <p> Enemies </p>
                <table class="table">
                {% for contributor in stats['contributors'].keys() | sort %}
                <tr>
                    <td>{{contributor}}</td>
                    <td>Made {{stats['contributors'][contributor]}} Enemies </td>
                    <td> {{(stats['contributors'][contributor] / stats['monsters'] * 100)| round(1, 'floor')}}% </td>
                </tr>
                {% endfor %}
                </table>
                <p> Weapons </p>
                <table class="table">
                {% for contributor in stats['weapons']['contributors'].keys() | sort %}
                    <tr>
                        <td> {{contributor}} </td>
                        <td>  Made {{stats['weapons']['contributors'][contributor]}} Weapons</td>
                        <td> {{(stats['weapons']['contributors'][contributor] / stats['weapons']['count'] * 100) | round(1, 'floor')}}% </td>
                    </tr>
                {% endfor %}
                </table>
                <p> Armor </p>
                <table class="table">
                {% for contributor in stats['armor']['contributors'].keys() | sort %}
                    <tr>
                        <td> {{contributor}} </td>
                        <td>  Made {{stats['armor']['contributors'][contributor]}} Armor varieties </td>
                        <td> {{(stats['armor']['contributors'][contributor] / stats['armor']['count'] * 100) | round(1, 'floor')}}% </td>
                    </tr>
                {% endfor %}
                </table>
                <p> Abilities </p>
                <table class="table">
                {% for contributor in stats['abilities']['contributors'].keys() | sort %}
                    <tr>
                        <td> {{contributor}} </td>
                        <td>  Made {{stats['abilities']['contributors'][contributor]}} Abilities </td>
                        <td> {{(stats['abilities']['contributors'][contributor] / stats['abilities']['count'] * 100) | round(1, 'floor')}}% </td>
                    </tr>
                {% endfor %}
                </table>
                <p><small><a href="#top">back to top</a> </small></p>
            </div>
            <div class="col-lg-4">
                <h2> Enemy Weapons </h2>
                <p> There are {{stats['weapons']['count']}} enemy weapons registered in the database. </p>
                <table class="table">
                    {% for type in stats['weapons']['types'].keys() | sort %}
                    <tr>
                        <td>{{type}}</td>
                        <td>{{stats['weapons']['types'][type]}} Weapons </td>
                        <td>{{ (stats['weapons']['types'][type] / stats['weapons']['count'] * 100) | round(1, 'floor') }} %</td>
                    </tr>
                    {% endfor %}
                </table>
                {% for type in stats['weapons']['types'].keys() | sort %}
                    <p> {{type}} </p>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-info" style="width:{{stats['weapons']['types'][type] / stats['weapons']['count'] * 200}}%">
                        </div>
                    </div>
                {% endfor %}
                <p><small><a href="#top">back to top</a> </small></p>
            </div>
            <div class="col-lg-4">
                <h2> Enemy Armor </h2>
                <p> There are {{stats['armor']['count']}} enemy armor varieties registered in the database. </p>
                <table class="table">
                    {% for type in stats['armor']['types'].keys() | sort %}
                    <tr>
                        <td>{{type}}</td>
                        <td>{{stats['armor']['types'][type]}} varieties </td>
                        <td>{{ (stats['armor']['types'][type] / stats['armor']['count'] * 100) | round(1, 'floor') }} %</td>
                    </tr>
                    {% endfor %}
                </table>
                {% for type in stats['armor']['types'].keys() | sort %}
                    <p> {{type}} </p>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-info" style="width:{{stats['armor']['types'][type] / stats['armor']['count'] * 200}}%">
                        </div>
                    </div>
                {% endfor %}
                <p><small><a href="#top">back to top</a> </small></p>
            </div>
            <div class="col-lg-4">
                <h2> Enemy Abilities </h2>
                <p> There are {{stats['abilities']['count']}} enemy abilities registered in the database. </p>
                <table class="table">
                    {% for type in stats['abilities']['types'].keys() | sort %}
                    <tr>
                        <td>{{type}}</td>
                        <td>{{stats['abilities']['types'][type]}} Abilities </td>
                        <td>{{ (stats['abilities']['types'][type] / stats['abilities']['count'] * 100) | round(1, 'floor') }} %</td>
                    </tr>
                    {% endfor %}
                </table>
                {% for type in stats['abilities']['types'].keys() | sort %}
                    <p> {{type}} </p>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-info" style="width:{{stats['abilities']['types'][type] / stats['abilities']['count'] * 100}}%">
                        </div>
                    </div>
                {% endfor %}
                <p><small><a href="#top">back to top</a> </small></p>
            </div>
     </div> 
    {%endblock%}
    