{%extends "layout.html"%}
    {%block head%}
        <title>CX Docs - How To Enemy Armor</title>
        <link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
    {% endblock %}
    {% block body %}
        <div class="container">
            <div class="page-header">
                <h1> How To: Make Enemy Armor </h1>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="list-group table-of-contents">
                    <a class="list-group-item" href="#coverage"> Coverage </a><!-- Unimplemented! -->
                    <a class="list-group-item" href="#ap_level"> AP Level </a><!-- Unimplemented! -->
                    <a class="list-group-item" href="#armor_points"> Armor Points </a><!-- Unimplemented! -->
					<a class="list-group-item" href="#type"> Type </a><!-- Unimplemented! -->
					<a class="list-group-item" href="#mag_storage"> Magazine Storage </a><!-- Unimplemented! -->
					<a class="list-group-item" href="#move_penalty"> Movement Penalty </a><!-- Unimplemented! -->
                    <a class="list-group-item" href="#tool"> How to use our Generator </a><!-- Unimplemented! -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <img src="static/images/Halo-4-Battle-Rifle.jpg" style="max-width:600px" alt="Battle Rifle Picture" />
                </div>
                <div class="col-lg-8 col-md-6">
                    <h2 id="coverage"> Coverage </h2>
                    <p> Text </p>
                </div>
				<div class="col-lg-8 col-md-8">
                    <h2 id="ap_level">AP Level</h2>
                    <p>AP Level stands for Armor Piercing level. It is a stat that describes what weapons can efeat the material of this armor. For more information, check out the combat 2.0 weapon rules in our github repo. Guidelines for level-appropriate Armor Piercing levels are listed below. </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Level 1-4</td>
                                <td>Level 5-9</td>
                                <td>Level 10-14</td>
                                <td>Level 15-19</td>
                                <td>Level 20</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Recommended APLs </td>
                                <td> 0-2 </td>
                                <td> 0-4 </td>
                                <td> 0-6 </td>
                                <td> 0-8 </td>
                                <td> 0-10 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				<div class="col-lg-8 col-md-6">
                    <h2 id="armor_points"> Armor Points </h2>
                    <p> Text </p>
                </div>
				<div class="col-lg-4 col-md-4">
                    <h2 id="type"> Armor Type </h2>
                    <p> Text </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h2 id="mag_storage"> Magazine Storage </h2>
                    <p> Text </p>
                </div>
                <div class="col-lg-8 col-md-6">
                    <h2 id="move_penalty"> Movement Penalty </h2>
                    <p> Heavier armors tend to have much better stats. To compensate, they are given a strength requirement known as a movement penalty. Please see the Combat 2.0 rules about mitigating movement speed for more information. </p>
                    <p> Please note that by convention, a positive number 2 in our form translates to a -2 meter per action movement penalty in play. Negative movement penalties would therefore translate to wearing armor that gives you a bonus to move. This is prevented by our system and will cause your armor to fail our validation check.</p>
                </div>
                <div class="row">
                    <img src="static/images/UT1999-RL.jpg" style="max-width:600px" alt="Rocket Launcher Picture" />
                </div>
                
                
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <h2 id="tool"> How to use our Tool </h2>
                        <p>More detailed instructions and pictures to follow. </p>
                        <ol>
                            <li> Start with an idea! </li>
                            <li> Enter the weapon into the web form </li>
                            <li> Review your work! </li>
                            <li> Use the update button to fix any mistakes, or to tune your weapon even better! </li>
                            <li> If it really isn't working out, use the delete button to forever remove the weapon from time and space </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
