{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Enemy Abilities</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1 id="top"> Enemy Abilities </h1>
			</div>
			<div class="col-lg-2"> <!-- table of contents div -->
				<div class="list-group table-of-contents">
					{% for ability in abilities %}
					<a class="list-group-item" href="#{{ability['name']}}panel"> {{ability['name']}} </a>
					{% endfor %}
				</div>
			</div>	<!-- end table of contents div -->
			<div class="col-lg-8" id="abilities">
				<p>There are {{abilities | count}} abilities for enemies to choose from.</p>
				{% for ability in abilities %}
				<div class="panel panel-primary" id="{{ability['name']}}panel">
					<div class="panel-heading">
						<h3 id="breacherheading" class="panel-title">{{ability['name']}}</h3>
					</div>
					<div class="panel-body">
						<p> {{ability['description']}} </p>
						<dl class="col-lg-3 col-md-3 col-sm-4">
							<dt>Type</dt><dd>{{ability['type']}}</dd>
							<dt>Author</dt><dd> Not listed </dd>
						</dl>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<form action="/deletemonsterability/{{ability['pk_id']}}" method="post">
							<input type="submit" class="form-button btn btn-danger" value="Delete Ability">  </input>
							<form>
							<legend> Give power to: </legend>
							<select name=monster>
								{% for monster in monsters %}
								<option value="{{monster['pk_id']}}">{{monster['name']}}</option>
								{% endfor %}
							</select>
							<input class="form-button btn btn-success" type="submit" Value="Give">
							</form>
							<form>
							<legend>Take Ability Away From:</legend>
							<select>
								{% for monster in monsters %}
								<option value="{{monster['pk_id']}}">{{monster['name']}}</option>
								{% endfor %}
							</select>
							<input class="form-button btn btn-danger" type="submit" Value="Take">
							</form>
							
						</div>
						<p> This ability proudly presented by {{ ability['author'] }}</p>
						<p><small><a href="#top">back to top</a> </small></p>
					</div> <!-- end panel-body -->
				</div>
				{% endfor %}
			</div> <!-- end abilities -->
		</div><!-- end container -->
	{% endblock %}
	