{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Enemy Armor</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1 id="top"> Enemy Armor </h1>
			</div>
			<div class="col-lg-2"> <!-- table of contents div -->
				<div class="list-group table-of-contents">
					{% for suit in armor %}
					<a class="list-group-item" href="#{{suit['name']}}panel"> {{suit['name']}} </a>
					{% endfor %}
                    <a class="list-group-item list-group-item-info" href="monsterstats"> Meta Data </a>
				</div>
			</div>	<!-- end table of contents div -->
			<div class="col-lg-8" id="armor">
				<p>There are {{armor | count}} kinds of armor for enemies to choose from.</p>
				{% for suit in armor %}
				<div class="panel panel-primary" id="{{suit['name']}}panel">
					<div class="panel-heading">
						<h3 id="breacherheading" class="panel-title">{{suit['name']}}</h3>
					</div>
					<div class="panel-body">
						<p> {{suit['description']}} </p>
						<dl class="col-lg-3 col-md-3 col-sm-4">
							<dt>Coverage</dt><dd>{{suit['coverage']}} %</dd>
							<dt>DR</dt><dd>{{suit['damagereduction']}}</dd>
							<dt>Type:</dt><dd>{{suit['type']}}</dd>
							<dt>Author</dt><dd> {{suit['author']}} </dd>
						</dl>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<form action="/deletemonsterarmor/{{suit['pk_id']}}" method="post">
								<input type="submit" class="form-button btn btn-danger" value="Delete Armor">  </input>
							</form>
							<form action="/assignMonsterArmor" method="POST">
								<legend> Give suit to: </legend>
								<select name="monster_id">
									{% for monster in monsters %}
									<option value="{{monster['pk_id']}}">{{monster['name']}}</option>
									{% endfor %}
								</select>
								<input type="hidden" name="armor_id" value="{{suit['pk_id']}}">
								<input class="form-button btn btn-success" type="submit" Value="Give">
							</form>
							<!-- Remove suit mapping -->
							<form action="/deletemonsterarmormap" method="POST">
								<legend>Take Armor Away From:</legend>
								<select name="pk_id">
									{% for monster in suit['maps'] %}
									<option value="{{monster[0]}}">{{monster[1]}}</option>
									{% endfor %}
								</select>
								<input class="form-button btn btn-danger" type="submit" Value="Take">
							</form>
						</div>
						<p> This suit proudly presented by {{ suit['author'] }}</p>
						<p><small><a href="#top">back to top</a> </small></p>
					</div> <!-- end panel-body -->
				</div>
				{% endfor %}
			</div> <!-- end armor -->
		</div><!-- end container -->
	{% endblock %}
	