{%extends "layout.html"%}
    {%block head%}
        <title>CX Docs - How To Enemy Weapons</title>
        <link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
    {% endblock %}
    {% block body %}
        <div class="container">
            <div class="page-header">
                <h1> How To: Make Enemy Weapons </h1>
            </div>
            <div class="col-lg-2">
                <div class="list-group table-of-contents">
                    <a class="list-group-item" href="#damage"> Damage </a>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 id="damage"> Damage </h2>
                <p>This is the amount of damage that your weapon can do. In general, the higher the rate of fire of a given weapon, the lower the amount of damage you want that weapon to do. </p>
            </div>
            <div class="col-lg-6">
                <img src="static/images/Halo-4-Battle-Rifle.jpg" style="width:400px" alt="Battle Rifle Picture" />
            </div>
            <div class="col-lg-6">
                <h2></h2>
                <p></p>
            </div>
        </div>
    {% endblock %}