{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - NPC Generator</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
		<script  src="../static/npcgen.js"></script>
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> NPC Generator </h1>
			</div>
			<div class="col-lg-8">
			<p>Click the button to generate new stats at random. Or Enter Ability Score numbers
					and the rest of the stats should automatically update to match. You cannot adjust 
					modifiers directly, and entereing anything that is not an integer will result in an error.</p>
				<form class="form-horizontal">
					<div class="col=lg-4">
						<fieldset>
							<legend>Role Information</legend>
							Name:
							<input class="form-control" id="unit_name" name="unit_name"></input><br/>
							Level:
							<input class="form-control" id="unit_level" name="unit_level"></input><br/>
							Size:
							<Select name="size" id="size">
								<option>Medium</option>
								<option>Tiny</option>
								<option>Small</option>
								<option>Large</option>
								<option>Huge</option>
								<option>Mamoth</option>
								<option>Gargantuan</option>
								<option>Titanic</option>
							</select>
							Label:
							<input class="form-control" id="unit_label" name="unit_label"></input><br/>
							Role:
							<Select name="role" id="role">
								<option>Infantry</option>
								<option>Support</option>
								<option>Healer</option>
								<option>Leader</option>
								<option>Brute</option>
								<option>Artillary</option>
								<option>Lurker</option>
								<option>Controler</option>
								<option>Tank</option>
								<option>Swarm</option>
								<option>Other</option>
							</select>
						</fieldset>
					</div>
					<div class="col-lg-4">
					<fieldset>
						<legend> Ability Scores </legend>
						Strength:
						<input class="form-control" id="Strength" value="5"></input> Mod:<input class="form-control" id="strMod" disabled></input><br />
						Perception:
						<input class="form-control" id="Perception" value="5"></input> Mod:<input class="form-control" id="perMod" disabled></input><br />
						Fortitude:
						<input class="form-control" id="Fortitude" value="5"></input> Mod:<input class="form-control" id="fortMod" disabled></input><br />
						Charisma:
						<input class="form-control" id="Charisma" value="5"></input> Mod:<input class="form-control" id="chaMod" disabled></input><br />
						Intelligence:
						<input class="form-control" id="Intelligence" value="5"></input> Mod:<input class="form-control" id="intMod" disabled></input><br />
						Dexterity:
						<input class="form-control" id="Dexterity" value="5"></input> Mod:<input class="form-control" id="dexMod" disabled></input><br />
						Luck:
						<input class="form-control" id="Luck" value="5"></input> Mod:<input class="form-control" id="lukMod" disabled></input><br />
						Total:
						<input class="form-control" id="TotalStats" value="35"></input> <br />
					</feildset>
					</div>
					<div class="col-lg-4">
					<feildset>
						<legend> Attributes </legend>
						<p>These are dynamically generated based on ability scores. You can't edit these directly.</p>
						Health:
						<input class="form-control" id="Health" value="90" disabled></input><br />
						Nanites:
						<input class="form-control" id="Nanites" value="90" disabled></input><br />
						Speed per full action:
						<input class="form-control" id="Speed" value="90" disabled></input><br />
					</feildset>
					</div>
					<div class="col-lg-4">
					<feildset>
						<legend> Saving Throws </legend>
						<p>These are dynamically generated based on ability scores. You can't edit these directly.</p>
						Shock:
						<input class="form-control" id="Shock" value="5" disabled></input><br />
						Will:
						<input class="form-control" id="Will" value="5" disabled></input><br />
						Reflex:
						<input class="form-control" id="Reflex" value="5" disabled></input><br />
					</feildset>
					</div>
					<div class="col-lg-4">
						<!-- extra senses, resistances, weakneses-->
					</div>
					<div class="col-lg-4">
						<input class="form-button" type="button" id="RandomButton" value="New NPC"></input>
						<input class="form-button" type="button" id="textButton" value="Export to Short Text" ></input>
						<input class="form-button" type="button" id="textLongButton" value="Export to Full Text" disabled=true></input>
						<input class="form-button" type="button" id="xmlButton" value="Export to XML" disabled=true ></input>
					</div>
				</form>
				<div class="row">
					<div class="col-lg-12">
						<textarea class="form-control" hidden=true id="exportArea" rows=20></textarea>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	