{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Parser</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Parser </h1>
			</div>
			<div class="col-lg-6">
			{% for element in elements %}
				{% if element['type'] == 'ul' or element['type'] == 'ol' %}
					<{{ element['type'] }}>
						{% for lineitem in element['content'] %}
							<li> {{lineitem}} </li>
						{% endfor %}
					</{{ element['type'] }}>
				{% elif element['type'] == 'dl' %}
					<dl>
						{% for deff in element['content'] %}
							<dt>{{ deff[0] }}</dt> <dd>{{ deff[1] }}</dd>
						{% endfor %}
					</dl>
				{% else %}
					<{{element['type']}}>
						{{element['content']}}
					</{{element['type']}}>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	{% endblock %}
	