{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - All Characters</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> All Characters </h1>
			</div>
			<div class="col-lg-6">
				<table class="table table-striped table-hover ">
					<tr>
						<th> <form action="/action_page.php">
							Owned by:<br>
							<input type="text" name="OwnedBy" value="Owner">
								<br>
							Character Name:<br>
							<input type="text" name="PCName" value="I Don't Know">
							<br>
							</form>
						<th> Level  <select>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							</select></th>
							<br>
						<th> Race <select>
							<option value="Human">Human</option>
							<option value="Tundari">Tundari</option>
							<option value="Security_Drone">Security Drone</option>
							<option value="Cyborg">Cyborg</option>
							<option value="Opaleite">Opaleite: Base</option>
							<option value="Sea_Devil">Opaleite: Sea Devil</option>
							<option value="Chondrich">Opaleite: Chondrich</option>
							<option value="Mendar">Opaleite: Mendar</option>
							<option value="Tetra">Opaleite: Tetra</option>
						</th> <br>
						<th> Class  <select>
							<option value="Soldier">Soldier</option>
							<option value="Specialist">Specialist</option>
							<option value="Doctor">Doctor</option>
							<option value="Engineer">Engineer</option>
							<option value="Priest">Priest</option>
							<option value="Pilot">Pilot</option>
							<option value="Adept">Adept</option>
							<option value="Hunter">Hunter</option>
							<option value="Paladin">Paladin</option>
							<option value="Gunslinger">Gunslinger</option>
							<option value="Assassin">Assassin</option>
							<option value="Marksman">Marksman</option>
							<option value="Berserker">Berserker</option>
							<option value="Monk">Monk</option>
							<option value="Sorcerer">Coming Soon!</option>
							<option value="Opaleite_Class">Coming Soon!</option>
						</th>
					</tr>
					{% for character in pcs %}
					<tr>
						<td> {{ character['OwnedBy'] }} </td>
						<td> {{ character['Level'] }} </td>
						<td> {{ character['PCName'] }} </td>
						<td> {{ character['Race'] }} </td>
						<td> {{ character['Class'] }} </td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endblock %}
	