{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Races</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1 id="top"> Races </h1>
			</div>
			<div class="col-lg-2">
				<div class="list-group table-of-contents">
					{% for race in races %}
						<a class="list-group-item" href="#{{ race['name'] }}panel">{{ race['name'] }}</a>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-9">
				<div >
					<h2>Base Races:</h2>
					<p> There are {{races | count}} Base Races to choose from.</p>
				</div>
			{% for race in races %}
				<div class="panel panel-success" id="{{race['name']}}panel">
						<div class="panel-heading">
							<h3 class="panel-title">{{ race['name'] }}</h3>
						</div>
						<div class="panel-body">
							<div class="col-lg-3">
								<dt>Society</dt><dd>{{race['society']}}</dd>
							</div>
							<div class="col-lg-3">
								<dt>Description</dt><dd>{{race['info']}}</dd>
							</div>
							<dl class="col-lg-3 col-md-3 col-sm-4">
								<dt>Type</dt><dd>{{race['type']}}</dd>
								<dt>Size</dt><dd>{{race['size']}}</dd>
								<dt>Speed</dt><dd>{{race['speed']}} m</dd>
							</dl>
							<dl class="col-lg-3 col-md-3 col-sm-4">
								<dt>Homeworld</dt><dd>{{race['world']}}m</dd>
								<div class="list-group">
									<a href="#" class="list-group-item active warn">Language</a>
									{% for language in race['languages']%}
										<a href="#" class="list-group-item">{{language}}, </a>
									{% endfor %}
								</div>
								<div class="list-group">
									<a href="#" class="list-group-item active warn">Racial Abilities</a>
									{% for trait in race['traits']%}
										<a href="#" class="list-group-item">{{trait}}</a>
									{% endfor %}
								</div>
							</dl>
							<div class="col-lg-3">
								<dt>Modifiers</dt><dd>{{race['mods']}}</dd>
							</div>
							<dt>Weaknesses</dt><dd>{{race['weaks']}}m</dd>
							<small><a href="#top">back to top</a></small>
						</div>
					</div>
			{% endfor %}
			</div>
		</div>
	{% endblock %}
	