{%extends "layout.html"%}
	{%block head%}
		<title>CX Docs - Race Smithy</title>
		<link rel=stylesheet type=text/css href="../static/bootstrap.min.css">
	{% endblock %}
	{% block body %}
		<div class="container">
			<div class="page-header">
				<h1> Race Smith </h1>
			</div>
			<div class="col-lg-8">
				<form method="POST" action="addrace" class="form-horizontal">
					<fieldset>
						<legend>Legend</legend>
						<div class="form-group">
						  <div class="col-lg-6">
							<label for="name" class="col-lg-2 control-label">Race Name</label>
							<input class="form-control" id="name" placeholder="name"  autocomplete="off" type="text" name="name">
						  </div>
						</div>
						<div class="form-group">
							<label for="info" class="col-lg-2 control-label">Description</label>
							<div class="col-lg-8">
								<textarea id="info" class="form-control" rows="3" name="info"></textarea>
							</div>
						</div>
						<div class="form-group">
						  <label for="society" class="col-lg-2 control-label">Society</label>
						  <div class="col-lg-2">
							<input class="form-control" id="society" placeholder="##" type="text" name="society">
						  </div>
						  <label for="world" class="col-lg-2 control-label">Homewold</label>
						  <div class="col-lg-2">
							<input class="form-control" id="world" placeholder="##"  autocomplete="off" type="text" name="world">
						  </div>
						</div>
						<div class="form-group">
						  <label for="type" class="col-lg-2 control-label">Type</label>
						  <div class="col-lg-6">
							<select class="form-control" id="type" name="type">
							  <option value="Organic">Organic</option>
							  <option value="Mechanical">Mechanical</option>
							  <option value="Construct">Construct</option>
							  <option value="Arcane">Arcane</option>
							  <option value="Xeno">Xeno</option>
							</select>
						</div>
						<div class="form-group">
							<div class="col-lg-2">
								<label for="size" class="col-lg-2 control-label">Size</label>
								<input class="form-control" id="size" placeholder="Size"  autocomplete="off" type="text" name="size">
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-2">
								<label for="speed" class="col-lg-2 control-label">Speed</label>
								<input class="form-control" id="speed" placeholder="##" type="text" name="speed"></input>
							</div>
							<div class="col-lg-2">
								<label for="mods" class="col-lg-2 control-label">Modifiers</label>
								<input class="form-control" id="mods" placeholder="##" type="text" name="mods"></input>
							<label for="languages" class="col-lg-2 control-label">Languages</label>
							<div class="col-lg-2">
								<input class="form-control" id="languages" placeholder="##" type="text" name="languages"></input>
							</div>
							</div>
						</div>
						<div class="form-group">
							<label for="traits" class="col-lg-2 control-label">Racial Traits</label>
							<div class="col-lg-8">
								<textarea id="traits" class="form-control" rows="3" name="traits"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="weaks" class="col-lg-2 control-label">
							weaknesses</label>
							<div class="col-lg-8">
								<textarea id="weaks" class="form-control" rows="3" name="weaks"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-lg-4">
				<h3>Races</h3>
				{% for race in races %}
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">{{ race['name'] }}</h3>
						</div>
						<div class="panel-body">
							<ul>
								<li>Type: {{race['type']}}</li>
								<li>Description: {{race['info']}}</li>
								<li>Size: {{race['size']}}</li>
								<li>Speed: {{race['speed']}}</li>
								<li>Mods: {{race['mods']}}
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
	