<nav class="navbar navbar-expand-lg">
  <a href="/" class="navbar-brand">CX</a>

  <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarMain"
    aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-screen" id="navbarMain">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Getting Started</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">The Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Report Issues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Game Feedback</a>
      </li>
    </ul>
  </div>
</nav>
