{% import './components/nav.html' as nav %}

<nav class="navbar navbar-expand-sm">
  <a href="/" class="navbar-brand">CX</a>

  <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarMain"
    aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-screen" id="navbarMain">
    <div class="carousel slide w-100" id="navbarCarousel" data-wrap="false" data-interval="false">
      <div class="carousel-inner" role="listbox">
        {% if navOptions != undefined %}
        <div class="carousel-item active">

          {{ nav.navbarList(navOptions) }}

        </div>
        {% endif %}

        <div class="carousel-item">
          <ul class="navbar-nav" id="loginNav">
            <li>
              <a class="nav-item nav-link" href="#navbarCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span> Back
              </a>
            </li>

            {% include './users/login/login_form.html' %}

            <li>
              <a class="nav-item nav-link" href="#">Register</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</nav>
