// OVERRIDING BOOTSTRAP'S VARIABLES
$white: #FFFFFF;

$body-bg: #060606;
$body-color: #888888;

$primary: #2A9FD6;
$secondary: #555555;
$success: #77B300;
$info: #9933CC;
$dark: #222222;

$list-group-bg: $dark;
$jumbotron-bg: #282828;
$link-hover-color: inherit;
$link-hover-decoration: none;
////////////////////////////////////

// OUR VARIABLES
// Colors
$silver: #C0C0C0;
$holobeam: rgba(100, 200, 255, 0.25);
$holomenu: rgba(100, 200, 255, 0.75);

// Borders
$std-b-radius: 15px;
$nav-select-b-radius: 10px;
